h1 {
    width: 93%;
    padding: 20px;
    background-color: lightgreen;
    border-radius: 10px;
    text-align: center;
  }

.blue {
    color: blue;
}

.red {
  color: red;
}

  #display {
      border: 2px solid lightblue;
      padding: 10px;
  }

